# Node.js 依赖
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json
npm-debug.log*
yarn-error.log

# 构建输出目录（各平台）
dist/
unpackage/
build/

# HBuilderX 临时/配置文件
*.bak
*.tmp
*.log
*.uview
*.local
*.bak.*
*.user.*

# 平台编译产物
platforms/
hybrid/html/
*.apk
*.ipa

# VSCode 配置
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
.vscode/*.code-workspace

# HBuilderX 项目配置目录（可选忽略）
.hbuilderx/

# IDE 文件
.idea/
*.iml

# Mac 系统文件
.DS_Store_
